


  <div class="about-container">
    <section class="mission">
      <h2>Our Mission</h2>
      <p>To provide accessible and quality education for everyone, everywhere.</p>
    </section>

    <section class="mentors">
      <h2>Our Mentor</h2>
      <div class="mentor-members">
          <div class="mentor-member">
            <a href="https://www.linkedin.com/in/bhavani-sankar-panda-585191ab/?originalSubdomain=in" target="_blank">
              <img src="https://media.licdn.com/dms/image/v2/D5603AQG-G0oGpMSltw/profile-displayphoto-shrink_800_800/profile-displayphoto-shrink_800_800/0/1688299293063?e=1762992000&v=beta&t=3fBLjpJ8jIf6jmsFvy3KMpU8kM9VcUijthQyxF0JO1o" alt="Mentor">
            </a>
              <h3>Mr. Bhavani Sankar Panda</h3>
              <p>Assistant Professor & Project Coordinator, Department of CSE at Gandhi Institute of Engineering and Technology University</p>
          </div>
      </div>
  </section>
  

    <section class="team">
      <h2>Meet Our Team</h2>
      <div class="team-members">
        <div class="team-member">
          <a href="https://www.linkedin.com/in/binaya-sahukar-17791a304/" target="_blank">
            <img src="https://media.licdn.com/dms/image/v2/D4E03AQH7AISeC0xv2Q/profile-displayphoto-shrink_800_800/profile-displayphoto-shrink_800_800/0/1718310638494?e=1762992000&v=beta&t=lOQfq-gWgObZm_LbLMa_oRItFEBXbYEvtnLVGY_F9Ec" alt="Team Member 1">
          </a>
          <h3>Binay A Kumar Sahukar</h3>
          <p>Developer</p>
        </div>
        <div class="team-member">
          <a href="https://www.linkedin.com/in/biswajeet-sahu-318419235/" target="_blank">
            <img src="https://media.licdn.com/dms/image/v2/D5603AQEbZP7MuoAEeA/profile-displayphoto-shrink_800_800/profile-displayphoto-shrink_800_800/0/1690126067767?e=1762992000&v=beta&t=Cucu0HjzKdxf3Qz-jyNtZA28YpDZYYNI75ELu3Qiwd4" alt="Team Member 2">
          </a>
          <h3>Biswajeet Sahu</h3>
          <p>Team Leader</p>
        </div>
        <div class="team-member">
          <a href="https://www.linkedin.com/in/kamakshya-prasad-sahoo-9475b4265/" target="_blank">
            <img src="https://media.licdn.com/dms/image/v2/D5603AQH_faIHRV6CLA/profile-displayphoto-shrink_800_800/profile-displayphoto-shrink_800_800/0/1719138285599?e=1762992000&v=beta&t=Bkh8r3S3Skk4LqXLjhKV9QbRzFh_gfaZaBZjKhmIuWc" alt="Team Member 3">
          </a>
          <h3>Kamakshya Prasad Sahoo</h3>
          <p>Researcher</p>
        </div>
        
      </div>
    </section>
  
    <section class="testimonials">
      <h2>What Our Users Say</h2>
      <div class="testimonial">
        <p>"This platform has transformed the way I learn!"</p>
        <h4>~ Pandit Karan</h4>
      </div>
    </section>
  </div>
  